@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.ReactTags__tags {
  @apply mb-4;
}

.ReactTags__tagInputField {
  @apply input w-full;
}

.ReactTags__selected .ReactTags__tag {
  @apply relative inline-block mr-1 mb-1 pl-1 pr-3 py-1 border-2 border-slate-100 text-slate-100 rounded-md;
}

.ReactTags__selected .ReactTags__remove {
  @apply absolute top-0 right-0 leading-3;
}

.ReactTags__tagInput {
  @apply relative mt-1;
}

.ReactTags__suggestions {
  @apply absolute top-full -left-1 -right-1 z-30 shadow-md;
}

.ReactTags__suggestions li {
  @apply p-2 bg-slate-800 text-slate-300;
}

li.ReactTags__activeSuggestion {
  @apply bg-slate-700;
}
